* {
  margin: 0;
}

body .store {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: indigo;
}

.card,
.product-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(36, 35, 35);
  border-radius: 10px;
  text-align: center;
  background: blueviolet;
  color: white;
  transition: all 0.75s ease-in-out;
  overflow: hidden;
}

.card:hover,
.product-card:hover {
  background-color: white;
  box-shadow: 0 0 50px white;
}

.product-list,
.category-cards,
.subcategory-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: indigo;
  background-color: indigo;
}

.botonVaciar .botonPagar {
  border: 2px solid #4caf50;
  margin: 10px;
}

.product-card:hover {
  color: indigo;
}

.product-card:hover p {
  display: none;
}

.shopping-cart {
  color: white;
}
